/* 
    Color Theme
    darkPink:#c9184a
    mediumPink:#ff4d6d
    lightPink:#ff758f
 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Merienda, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.7;
  color: rgb(146, 146, 146);
  padding: 25px;
}
/* header */
.header {
  height: 95vh;
  background-image: linear-gradient(to right bottom, hsla(343, 79%, 44%, 0.6), rgba(255, 117, 142, 0.6)),
    url(../Images/hero.jpg);
  background-size: cover;
  background-position: top;
  position: relative;
  clip-path: polygon(0 0, 100% 0%, 100% 100%, 50% 85%, 0 100%);
}

.logo-box {
  position: absolute;
  top: 40px;
  left: 40px;
}

.logo {
  height: 75px;
}
.logo-box p {
  color: #fff;
  font-family: Charm, sans-serif;
  font-size: 16px;
  letter-spacing: 3px;
}

.header-text {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.heading-title {
  color: #fff;
  text-transform: uppercase;
  backface-visibility: hidden;
  margin-bottom: 120px;
}

.heading-title-main {
  display: block;
  font-size: 60px;
  font-weight: 400;
  letter-spacing: 20px;
  animation-name: moveInLeft;
  animation-duration: 1.5s;
  animation-timing-function: ease-out;
}

.heading-title-sub {
  display: block;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 14px;
  animation: moveInRight 1.5s ease-out;
}

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }

  90% {
    opacity: 1;
    transform: translateX(10px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(100px);
  }

  90% {
    opacity: 1;
    transform: translateX(-10px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.btn:link,
.btn:active {
  text-transform: capitalize;
  text-decoration: none;
  display: inline-block;
  padding: 15px 60px;
  position: relative;
  border-radius: 100px;
  transition: all 0.2s;
}

.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.4);
}
.btn:active {
  transform: translateY(-1px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.4);
}

.btn-white {
  color: rgb(87, 80, 80);
  background: #fff;
}

.btn::after {
  content: "";
  display: inline-block;
  width: 100%;
  height: 100%;
  border-radius: 100px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.4s;
}

.btn-white::after {
  background: #fff;
}

.btn:hover::after {
  transform: scaleX(1.2) scaleY(1.4);
  opacity: 0;
  transition: 1.5s;
}

.btn-animation {
  animation: moveInBottom 0.5s ease-out 0.75s;
  animation-fill-mode: backwards;
}
