//  colors
$color-primary: #ff4d6d;
$color-primary-light: #ff758f;
$color-primary-dark: #c9184a;

$color-secondery-light: #9d4edd;
$color-secondery-dark: #240046;

$color-tertiary-light: #42a5f5;
$color-tertiary-dark: #0d47a1;

$color-invaled:#ff6600;

$color-grey-light-1: #dee2e6;

$color-grey-dark: #000;
$text-color: #fff;
$color-white: #fff;
$color-black: #000;

// font

$defualt-font-size: 1.6rem;

// Drid
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizonal: 6rem;
