$color-primary: #ff4d6d;
$color-primary-light: #ff758f;
$color-primary-dark: #c9184a;
$color-grey-dark: #777;
$text-color: #fff;
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  font-family: Merienda, sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.7;
  color: $color-grey-dark;
  padding: 2.5rem;
  box-sizing: border-box;
}
/* header */
.header {
  height: 95vh;
  background-image: linear-gradient(to right bottom, rgba($color-primary-dark, 0.6), rgba($color-primary-light, 0.6)),
    url(../Images/hero.jpg);
  background-size: cover;
  background-position: top;
  position: relative;
  clip-path: polygon(0 0, 100% 0%, 100% 100%, 50% 85%, 0 100%);
}

.logo-box {
  position: absolute;
  top: 4rem;
  left: 4rem;
}

.logo {
  height: 7.5rem;
}
.logo-box p {
  color: $text-color;
  font-family: Charm, sans-serif;
  font-size: 1.6rem;
  letter-spacing: 0.3rem;
}

.header-text {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.heading-title {
  color: $text-color;
  text-transform: uppercase;
  backface-visibility: hidden;
  margin-bottom: 12rem;
}

.heading-title-main {
  display: block;
  font-size: 6rem;
  font-weight: 400;
  letter-spacing: 2rem;
  animation-name: moveInLeft;
  animation-duration: 1.5s;
  animation-timing-function: ease-out;
}

.heading-title-sub {
  display: block;
  font-size: 2rem;
  font-weight: 400;
  letter-spacing: 1.4rem;
  animation: moveInRight 1.5s ease-out;
}

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem);
  }

  90% {
    opacity: 1;
    transform: translateX(1rem);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem);
  }

  90% {
    opacity: 1;
    transform: translateX(-1rem);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(5rem);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.btn:link,
.btn:active {
  text-transform: capitalize;
  text-decoration: none;
  display: inline-block;
  padding: 1.5rem 6rem;
  position: relative;
  border-radius: 10rem;
  transition: all 0.2s;
}

.btn:hover {
  transform: translateY(-0.3rem);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.4);
}
.btn:active {
  transform: translateY(-1px);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.4);
}

.btn-white {
  color: $color-grey-dark;
  background: $text-color;
}

.btn::after {
  content: "";
  display: inline-block;
  width: 100%;
  height: 100%;
  border-radius: 100px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.4s;
}

.btn-white::after {
  background: $text-color;
}

.btn:hover::after {
  transform: scaleX(1.2) scaleY(1.4);
  opacity: 0;
  transition: 1.5s;
}

.btn-animation {
  animation: moveInBottom 0.5s ease-out 0.75s;
  animation-fill-mode: backwards;
}
