.footer {
  background-color: $color-grey-dark-1;
  padding: 10rem 0;
  font-size: 1.5rem;

  &__logo-box {
    text-align: center;
    margin-bottom: 5rem;
  }

  &__logo {
    width: 20rem;
    height: auto;
  }

  &__navigation {
    text-align: center;
  }

  &__list {
    list-style: none;
    border-top: 1px solid rgba($color-white, 0.7);
    display: inline-block;
  }

  &__item {
    margin-top: 2rem;
    display: inline-block;

    &:not(:last-child) {
      margin-right: 2rem;
    }
  }

  &__link {
    &:link,
    &:visited {
      color: $color-white;
      text-decoration: none;
      text-transform: uppercase;
      display: inline-block;
      transition: all 0.5s;
    }

    &:hover,
    &:active {
      color: $color-primary;
      transform: scale(1.2) rotate(5deg);
    }
  }
}

