.composition {
  position: relative;
  z-index: 10;
  &__photo {
    width: 55%;
    box-shadow: 0 1.5rem 4rem rgba($color-black, 0.4);
    border-radius: 0.5rem;
    position: absolute;
    transition: all 0.2s;
    outline-offset: 1rem;
    &--p1 {
      left: 0;
      top: -3rem;
    }
    &--p2 {
      right: 0;
      top: 3rem;
    }
    &--p3 {
      left: 15%;
      top: 10rem;
    }

    &:hover {
      outline: 1rem solid $color-primary;
      transform: scale(1.05) translateY(-0.5rem);
      box-shadow: 0 2.5rem 4rem rgba($color-black, 0.5);
      z-index: 11;
      transition: all 0.2s;
    }
  }

  &:hover &__photo:not(:hover) {
    transform: scale(0.95);
  }
}
