.story {
  width: 75%;
  margin: 0 auto;
  box-shadow: 0 3rem 6rem rgpa($color-black, 0.1);
  background-color: rgba($text-color, 0.5);
  border-radius: 0.5rem;
  padding: 6rem;
  padding-left: 9rem;
  font-size: $defualt-font-size;
  transform: skewX(-12deg);

  &__shape {
    width: 15rem;
    height: 15rem;
    float: left;
    background: #525;
    -webkit-shape-outside: circle(50% at 50% 50%);
    shape-outside: circle(50% at 50% 50%);
    -webkit-clip-path: circle(50% at 50% 50%);
    clip-path: circle(50% at 50% 50%);
    transform: translateX(-3rem) skewX(12deg);
    position: relative;
  }

  &__img {
    height: 100%;
  }

  &__text {
    transform: skewX(12deg);
  }

  &__caption {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 20%);
    color: $text-color;
    font-size: 1.8rem;
    text-align: center;
    opacity: 0;
    transition: all 0.5s;
  }
  &:hover &__caption {
    opacity: 1;
    transform: translate(-50%, -50%);
  }

  &:hover &__img {
    filter: blur(1px) brightness(70%);
  }
}
